# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Build / packaging artifacts
*.zip
*.xpi
dist/
build/

# npm
frontend/node_modules/
frontend/yarn.lock
frontend/wailsjs/